#tituloHome-ola{
  font-size: 40px;
}

#tituloHome-nome{
  font-size: 38px;
  color: #DEFF82;
}

#descricaoHome{
  font-size: 18px;
}

body {
  background-color: #0F0F10;
  color: aliceblue;
  padding: 2rem;
}

pre{
  color: #DEFF82;
}

.submenu{
  
  top: 2;
  right: 10%; 
  width: 50%;
}

button{
  margin: 0 15px;
}

.item-menu-active{
  background: #0F0F10;
  color: rgb(77, 75, 75);
  border: 5px;
  border-color: #0F0F10;
}

.item-menu{
  background-color: #0F0F10;
  border-color: #0F0F10;
  border: 5px;
  color: #ffffff;
}

.item-menu:hover {
  color: rgba(77, 75, 75);
}

.item-footer{
  padding: 15px;
}

.item-footer:hover{
  color: #DEFF82;
}

.item-footer-contact{
  padding: 45px;
}

.item-footer-contact:hover{
  color: #DEFF82;
}

#email{
  letter-spacing: 6px;
  color: white;
  text-decoration-line: none;
}

#email:hover{
  color: #DEFF82;
}

.direitos{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 45%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0F0F10;
  color: white;
  font-size: 15px;
}

#perfil{
  border-radius: 24px;
}

.subMenuContact{
  position: absolute;
  text-align: center;
  text-align: "justify";
  top: 25%;
  left: 35%;
  max-width: 500px; 
  letter-spacing: 2px;
}

.botaoOla{
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  color: #FFF;
  border: 1px solid rgba(77, 75, 75);
  border-radius: 5px;
  border-right: 50%;
}

#ola{
  color: white;
  text-decoration-line: none;
}

.tecnologias{
  letter-spacing: 2px;
  bottom: 10px;
}

#footer{
  top: 75%;
  bottom: 0;
  width: 95%;
  height: 2.5rem;
}