body {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 2rem;
}

#direitos{
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.submenu{
  position: absolute;
  top: 2;
  right: 10%; 
  width: 50%;
}

button{
  margin: 0 15px;
}

.welcome{
  position: absolute;
  right: 40%;
  bottom: 60%;
}

.redes{
  position: absolute;
  right: 93%;
  bottom: 16%;
}

.item-menu{
  background: rgb(0, 0, 0);
  color: white;
  border: 5px;
  border-color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 25px;
}

.item-menu-active{
  background: rgb(0, 0, 0);
  color: rgb(77, 75, 75);
  border: 5px;
  border-color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 25px;
}

.item-menu:hover {
  color: rgba(77, 75, 75);
}

.item-footer{
  background: black;
  color: white;
  border: 5px;
  font-size: 20px;
}

.item-footer:hover{
  color: rgb(28, 28, 29);
}

#riscoFooter{
  position: absolute;
  width: 1px;
  height: 150px;
  right: 50%;
  background: rgb(255, 255, 255);
  -webkit-transform: skew(0deg); /* Chrome, Opera */
  -ms-transform: skew(0deg); /* IE */
  transform: skew(0deg); /* Padrão */
}